@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  width: 100%;
  /* overflow: hidden; */
}
#root > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
header {
  background-color: #f5ba13;
  margin: 0;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.field {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
  position: relative;
  width: fit-content;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  height: fit-content;
  margin: 16px auto;
  padding: 1.2rem;
}
button {
  align-self: flex-end;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  color: #fff;
  outline: none;
  background-color: #f5ba13;
  margin-top: -1rem;
}
.field input,
textarea {
  width: 100%;
  height: 50px;
  border: none;
  height: fit-content;
  background-color: transparent;
  text-align: center;
  outline: none;
  font-size: 1.4rem;
  color: #757575;
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.field input {
  font-size: 1.6rem;
}
.field button:first-of-type {
  height: 3px;
  width: 10px;
  padding: 0;
  border-radius: 2px;
  background-color: #f5ba13;
  position: absolute;
  top: 2rem;
  right: 1.2rem;
  cursor: pointer;
}
header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
::placeholder {
  font-size: 1.5rem;
  color: #757575a2;
}

footer {
  text-align: center;
  width: 100%;
  justify-self: flex-end;
  /* height: 2.5rem; */
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 1rem;
  width: 240px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-wrap: wrap;
  margin: 16px 32px;
}
.note .c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.c button {
  border-radius: 10px;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  width: 100%;
  /* text-align: center; */
}
.note p {
  word-wrap: break-word;
  font-size: 1.1em;
  font-weight: normal;
  width: 80%;
  margin-bottom: 10px;
  color: #757575;
}
.plus {
  font-size: 5rem;
  margin: 0 auto;
  text-align: center;
  color: #f5ba13;
  cursor: pointer;
}
section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body {
    width: 100%;
    height: 100%;
  }
  header h1 {
    font-size: 2rem;
  }
  .note h1 {
    word-wrap: break-word;
    word-break: break-all;
  }
  footer {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .note {
    font-size: 2rem;
    width: 70%;
    margin: 0 auto;
  }
  section {
    row-gap: 2rem;
  }
}
